// Section Fonctionnement

.container-fonction {
    width: auto;
    height: auto;
    background-color: white;
    padding: 40px 20px;
    margin-top: 45px;

    &__titre {
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 24px;
    }
}

.carte_fonction {
    background-color: #F3F3F3;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    width: auto;
    height: auto;
    padding: 23px;
    display: flex;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 15px;
    margin: 10px 0;
    position: relative;

    &__text {
        margin-left: 25px;
        line-height: 23px;
        font-size: 14px;
    }
}


.number {
    border-radius: 100%;
    padding: 3px 7px;
    background-color: $main-color;
    color: white;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: -10px;
}

.container-carte-fonction {
    padding: 30px 0 15px 15px;
    display: flex;
    flex-direction: column;
}

.icone {
    color: #7E7E7E;
    font-size: 17px;
    margin-left: 5px;
    animation: flash 10s steps(5, end) infinite; 
    &__1 {
        animation-delay: 3s;
    }
    &__2 {
        animation-delay: 6s;
    }
    &__3 {
        animation-delay: 9s;
    }
}


@keyframes flash {
    0%{
        color: $main-color;        
    }
    50%{
        color: #7E7E7E;
    }
    100%{
        color: $main-color;
    }
}




