
.loader {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: #fff;
  opacity: 0.9;
  animation: disappear 0s 3s forwards;
  display: grid;
  place-items: center;
  
  &__text {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #353535;
  }
}

@keyframes disappear {
  from {
    transform: scale(1);  
  }
  to {
      transform: scale(0);
  }
}

.loader-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $loader-size;
  height: $loader-size;
  flex-wrap: wrap;
 
  .loader-dot {
    width: 20%;
    height: 20%;
    margin: 0;
    border-radius: 100%;
    background-color: #9356DC;
    animation: three $animation-duration infinite ease-in-out both;
    animation-delay: 0ms;
 
    &__2 {
      animation-delay: 225ms;
    }
 
    &__3 {
      animation-delay: 450ms;
    }
  }
}
 
@keyframes three {
  0%, 80%, 100% {
    transform:scale(0)
  }
  40% {
    transform:scale(1);
  }
}


